@use "../../ilios-common/mixins" as cm;
@use "../../ilios-common/colors" as c;

.reports-curriculum-loading {
  .reports-curriculum-header .input-buttons button.done {
    cursor: default;
    background-color: var(--lightest-grey);
  }
}
